---
import { getCollection } from "astro:content";
import { getSiteConfig } from "../../config";
import { ui } from "../../i18n/ui";
import BlogLayout from "../../layouts/BlogLayout.astro";
import PostCard from "../../components/blog/PostCard.astro";

const lang = "en";
const siteConfig = getSiteConfig(lang);
const t = ui[lang];

const allPosts = await getCollection("blog", ({ data }) => !data.draft);
const sortedPosts = allPosts.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BlogLayout lang={lang} title={t.blogTitle} activeNav="recent">
  <div>
    {sortedPosts.map((post) => (
      <PostCard
        title={post.data.title}
        description={post.data.description}
        pubDate={post.data.pubDate}
        category={post.data.category}
        tags={post.data.tags}
        cover={post.data.cover}
        slug={post.slug}
        lang={lang}
      />
    ))}
  </div>
</BlogLayout>